@import url("https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lumanosimo", cursive;
  background: linear-gradient(to right, rgb(174, 137, 174), lightsteelblue);
}

.container {
  width: 60vw;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 5vw 0;
}

.nav h2 {
  font-size: 2vw;
  font-weight: bold;
}

.user-input {
  width: 25vw;
  text-align: center;
}

.user-input input,
.user-input button {
  padding: 0.5vw;
  font-size: 1vw;
  outline: none;
  border: 1px solid lightgray;
}

.user-input input {
  width: 80%;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.user-input button {
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.user-input button:hover {
  background-color: lightgray;
}

.to-do-items {
  width: 30vw;
  margin: auto;
}

.item {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 100%;
  border-radius: 2px;
  padding: 0.2vw;
  margin-top: 10px;
  font-size: 1vw;
  text-transform: uppercase;
  background-color: white;
}

.item i {
  cursor: pointer;
  margin: 0 5px;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }
  .nav h2 {
    margin: 10px 0;
  }
  .user-input {
    width: 100%;
  }
  .to-do-items {
    width: 100%;
  }
}
