* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.intro {
  text-align: center;
  font-size: 2.5vw;
}

.btn {
  padding: 1vw;
  font-size: 2vw;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 7px;
  margin: 0.3vw;
}

.btn:hover {
  background-color: rgb(198, 192, 192);
}

.buttons {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 1vw;
  height: 20vh;
  width: 20vw;
}

#input {
  margin-top: 3vw;
  padding: 1vw 2vw;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.2vw;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  background-color: gray;
  height: 75vh;
  width: 25vw;
  margin-top: 3%;
}
